@use 'utils/mixins';

.input {
  @include mixins.flex-column;
  width: 100%;
  max-height: 60px;
  padding: 12px;
  color: #fafafa;
  flex: 1;
  border-radius: 8px;
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-dimming-primary);

  input {
    width: 100%;
  }
}

.error {
  color: #f5222d;
}