@use "utils/mixins";

.wrapper {
  @include mixins.box-size(100%, 100%);
  @include mixins.flex;
  gap: 18px;
  max-width: 1980px;
  padding: 12px;

  .nav {
    flex: 1;
    min-width: 220px;
    max-width: 500px;
  }

  .routeWrapper {
    @include mixins.box-size(100%, 100%);
    @include mixins.flex;
    border-radius: 12px;
    //overflow: hidden;

    &_auth {
      max-height: 200px;
    }
  }
}
