@use 'utils/mixins';

.wrapper {
  @include mixins.flex(center, center);
  @include mixins.box-size(100%, auto);
  color: var(--text-primary);
  padding: 12px 20px;
  background-color: var(--bg-dimming-primary);
  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
  //border: 1px solid var(--border-secondary);
  will-change: transform;
  box-shadow: var(--box-shadow);
  white-space: nowrap;

  &:hover {
    transform: scale(0.98);
  }
}
.active{
  box-shadow: var(--box-shadow-active);
  background-color: var(--bg-primary);
}

.error{
  box-shadow: var(--box-shadow-error);
  color: #f5222d;
  background-color: var(--bg-primary) !important;
  opacity: 1!important;
}

.disabled{
  background-color: var(--bg-dimming-secondary);
  pointer-events: none;
  box-shadow: none;
}