@use "utils/mixins";

.wrapper {
  @include mixins.flex(center, center);
  border-radius: var(--border-radius);
  position: relative;

  .image {
    @include mixins.box-size(100%, 100%);
    border-radius: var(--border-radius);
    object-fit: cover;
  }

  .blur {
    @include mixins.box-size(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    filter: blur(13px);
  }
}

