@use 'utils/mixins';

.wrapper {
  @include mixins.flex-column(center, center);
  @include mixins.box-size(100%, 100%);
  gap: 6px;
  background: var(--bg-primary);
  font-size: 40px;
  color: red;
  position: fixed;
  z-index: 10;

  .loader {
    @include mixins.flex(center, center);
    gap: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    circle {
      stroke-width: 10px;
      stroke-linecap: round;
      fill: transparent;
    }
  }

}
 